@tailwind base;
@tailwind components;
@tailwind utilities;

h1, button {
    font-family: 'Julius Sans One',sans-serif;
}
h1 {
    font-size: xx-large;
    margin: 10px 0;
    font-weight: lighter;
}

p {
    font-family: 'Julius Sans One',sans-serif;
}
.julius {
    font-family: 'Julius Sans One',sans-serif;
}

.tbeheader {
    position:fixed;
    top:0;
    width: 100%;
    z-index :200
}

.tbefooter {
    position:fixed;
    bottom:0;
    width: 100%;
    z-index :200
}