@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, button {
    font-family: 'Julius Sans One',sans-serif;
}
h1 {
    font-size: xx-large;
    margin: 10px 0;
    font-weight: lighter;
}

p {
    font-family: 'Julius Sans One',sans-serif;
}
.julius {
    font-family: 'Julius Sans One',sans-serif;
}

.tbeheader {
    position:fixed;
    top:0;
    width: 100%;
    z-index :200
}

.tbefooter {
    position:fixed;
    bottom:0;
    width: 100%;
    z-index :200
}

.tbcontainer {
    display: grid;
    border-block: #9ca3af;
    grid-template-columns: 20px 20px auto;
    grid-template-rows: repeat( 31, 40px);

}

.item-a {
    border-bottom: 1px solid gray;
    text-align: center;
}

.eventItem {
grid-column-start: 3;
    margin: 2px 10px;
    padding: 4px 10px;
    border: 1px dotted #9ca3af;
    text-justify: auto ;
    text-align: center;
    border-radius: 5px;
    background-color: lightblue;
}